{#<a class="avatar" href="{{ url_for('user_detail', username=message.user.username) }}"
  ><img src="{{ message.user.gravatar_url() }}" /></a
>#}
<hr />
<ul class="list-group mt-2">
  <li class="list-group-item bg-success text-white">
    Cliente: {{ transaction.customer.username }}
  </li>
  <li class="list-group-item">
    Transacción: &nbsp;&nbsp;<img
      src="{{ qrcode(url_for('make_withdraw', transaction_id=transaction.id, _external=True)) }}"
      width="90"
    />
  </li>
  <li class="list-group-item">Tipo de Transacción: {{ transaction.ttype }}</li>
  <li class="list-group-item">Monto: {{ transaction.amount }}</li>
  <li class="list-group-item">Desde la cuenta: {{ transaction.from_account }}</li>
  <li class="list-group-item">Hacia la cuenta: {{ transaction.to_account }}</li>
  <li class="list-group-item">Antes: {{ transaction.p_balance }}</li>
  <li class="list-group-item">Después: {{ transaction.c_balance }}</li>
</ul>
